.list {
    background-color: #e5eff5;
    border-radius: 6px;
    width: 100%;
    padding: 0.5rem 1rem;
    margin: 0.5em;
    display: inline-block;
}

.list__title {
    font-size: 1rem;
    letter-spacing: 0.5px;
    margin: 0 0 8px 3px;
    font-weight: 500;
    line-height: 1.2;
}

.list a {
    width: 100%;
    display: block;
    text-decoration: none;
    color: #aaa;
    font-size: 0.9rem;
    margin: 0 0 5px 5px;
}

input {
    padding: 10px;
    border: 0;
    outline: 0;
    background: rgba(99, 99, 99, 0.25);
    box-shadow: none;
    width: 100%;
    color: #fff;
}
